body,html{
    height: 100%;
    overflow: hidden;
}

body{
    margin-top: 30px;
    background: url(http://res.cloudinary.com/www-gangofcoders-com/image/upload/v1493360643/rainback_nlilja.jpg) no-repeat;
    background-size: cover;
}

:local(.app){
    padding-top: 1rem;
    .app-container{
        font-family: 'Open Sans Condensed', sans-serif;
        border: 1px solid #cecece;
        background: #fbfbfb;
        border-radius: 3px;
        max-width: 320px;
        padding-bottom: 10px;
        box-shadow: 0px 1px 9px rgba(102, 102, 102, 0.17);
    }

    form{
        input[type="text"]{
            border: none;
            background: none;
            border-bottom: 1px solid #ddd;
            border-radius: 0;
            outline: none;
            padding-left: 0;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
    }

}